#pad {
	height:130px;
	}

#menu {
	width: 800px; 
	text-align:center; 
	margin: 0 auto;
	}

#menu div {
	border-bottom: 1px solid #666666; 
	position: relative; 
	text-align:center; 
	margin-right: auto; 
	margin-left: auto;
	border-top: 1px solid #666666;
	}

#menu div ul {
	padding:0;  
	margin: 0 auto; 
	list-style:none; 
	height:30px; 
	text-align: center; 
	position:relative; 
	z-index:2; 
	font-family:arial, verdana, sans-serif;
	}

#menu div ul li {
	float:left; 
	text-align: center; 
	margin: 0 auto;
	}

#menu div ul li a {
	display:block; 
	float:left; 
	height:30px; 
	line-height:30px; 
	background:#232323; 
	color:#ccc; 
	text-decoration:none; 
	font-size:14px; 
	text-transform: uppercase; 
	padding:0 25px 0 25px; 
	margin: 0 auto;
	}

#menu div ul table {
	border-collapse:collapse; 
	width:0; height:0; 
	position:absolute; 
	top:0; 
	left:0;
	}

#menu div ul li a:hover {z-index:1; position:relative;color:#FEC800; background-color:#232323;}
#menu div ul li:hover {position:relative; z-index:1;}

#menu div ul li:hover > a {color:#FEC800; background:#232323;}

#menu div ul :hover ul {left:0; top:30px; width:120px; background:#444; margin-left:18px;}

#menu div ul ul, 
#menu div ul :hover ul ul {position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;}

#menu div ul :hover ul :hover ul
{left:150px; top:-1px; background:#222; white-space:nowrap; width:100px; z-index:1; height:auto;}

#menu div ul :hover ul li {margin:0; border-bottom:1px solid #666; border-left:1px solid #666; border-right:1px solid #666;}
#menu div ul :hover ul li a {width:170px; line-height:15px; font-size: 11px; text-align: left; padding:5px 5px; text-indent:0px; background:#232323; color:#ccc; height:auto;}

#menu div ul :hover ul :hover {background-color:#232323; color:#FEC800;}

#menu div ul :hover ul li.currentsub a {background:#840; color:#FEC800;}

#menu div ul :hover ul :hover ul li a {width:100px; padding:0; text-indent:10px; background:#3e3e3e; color:#ccc;}
#menu div ul :hover ul :hover ul :hover {background-color:#d70; color:#FEC800;}

.current_page_item {
	font-weight:bold;
}